* 
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    outline: none;
    box-sizing: border-box;
}

body
{
    background: linear-gradient(90deg, rgba(188, 12, 80,0.2) 0%, rgba(188, 12, 80,0.2) 16.667%,rgba(117, 106, 136,0.2) 16.667%, rgba(117, 106, 136,0.2) 33.334%,rgba(153, 59, 108,0.2) 33.334%, rgba(153, 59, 108,0.2) 50.001%,rgba(11, 246, 220,0.2) 50.001%, rgba(11, 246, 220,0.2) 66.668%,rgba(46, 199, 192,0.2) 66.668%, rgba(46, 199, 192,0.2) 83.335%,rgba(82, 152, 164,0.2) 83.335%, rgba(82, 152, 164,0.2) 100.002%),linear-gradient(45deg, rgba(188, 12, 80,0.2) 0%, rgba(188, 12, 80,0.2) 16.667%,rgba(117, 106, 136,0.2) 16.667%, rgba(117, 106, 136,0.2) 33.334%,rgba(153, 59, 108,0.2) 33.334%, rgba(153, 59, 108,0.2) 50.001%,rgba(11, 246, 220,0.2) 50.001%, rgba(11, 246, 220,0.2) 66.668%,rgba(46, 199, 192,0.2) 66.668%, rgba(46, 199, 192,0.2) 83.335%,rgba(82, 152, 164,0.2) 83.335%, rgba(82, 152, 164,0.2) 100.002%),linear-gradient(0deg, rgba(188, 12, 80,0.2) 0%, rgba(188, 12, 80,0.2) 16.667%,rgba(117, 106, 136,0.2) 16.667%, rgba(117, 106, 136,0.2) 33.334%,rgba(153, 59, 108,0.2) 33.334%, rgba(153, 59, 108,0.2) 50.001%,rgba(11, 246, 220,0.2) 50.001%, rgba(11, 246, 220,0.2) 66.668%,rgba(46, 199, 192,0.2) 66.668%, rgba(46, 199, 192,0.2) 83.335%,rgba(82, 152, 164,0.2) 83.335%, rgba(82, 152, 164,0.2) 100.002%),linear-gradient(90deg, rgb(99, 122, 239),rgb(4, 152, 185));
    background-size: cover;
    min-height: 100vh;
}

.p-container
{
    width: 80%;
    margin: 20px auto;
}

.p-item 
{
    width: 10em;
    text-align: center;
    display: inline-block;
    margin: 10px 70px;
    padding: 5px;
    background: #ffffff75;
    box-shadow: 2px 2px 3px 0 #444;
    position: relative;
}

.p-item p:first-of-type{
    font-weight: bold;
    text-transform: uppercase;
}

.p-item:hover 
{
    transition: .5s;
    cursor: pointer;
    transform: scale(1.1);
}

.p-item img
{
    position: absolute;
    top: 0;
    left: -75px;
    width: 75px;
    height: 100%;
    border-radius: 30% 0 0 30%;
}

nav
{
    margin: 20px 0;
    width: 100%;
    background: linear-gradient(40deg, transparent 40%, #222222bb 60%);
    text-align: right;
}

nav .car 
{
    width: 35%;
    color: #fff;
    background: linear-gradient(45deg, transparent, purple);
    font-weight: bold;
    text-align: center;
    border: 2px solid purple;
    margin: 0 65%;
}

    nav .car p:nth-child(2)
    {
        color: #00ff21;
    }

    nav .car:hover 
    {
        transition: .5s;
        cursor: pointer;
        border-color: #fff;
    }

#NomeNivelAuth 
{
    color: #ffdd00;
    text-transform: uppercase;
    font-weight: bold;
}

#btnGerenciarProdutos 
{
    background: #222;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: underline;
    text-decoration-color: purple;
    border-radius: 0 5px 5px 0;
}

#btnGerenciarProdutos i 
{
    color: purple;
}

.filtro 
{
    width: 80%;
    padding: 10px 0;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.filtro a 
{
    margin: 0 10px;
    color: #fff;
    border-bottom: 2px dashed purple;
}
