
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    outline: none;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url('../imgs/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

ul {
    width: 60%;
    margin: 25px auto;
    max-height: 250px;
    overflow-y: scroll;
    background: #0094ff75;
}

    ul::-webkit-scrollbar {
        background: #444;
        width: 5px;
    }

    ul::-webkit-scrollbar-thumb {
        background: #fff;
    }

    ul::-webkit-scrollbar-corner {
        display: none;
    }

    ul li {
        margin: 5px;
        position: relative;
        padding: 5px 25px;
        color: #fff;
        font-weight: bold;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        background: #0073ac;
    }

        ul li:hover {
            background: #666;
        }

        ul li span {
            color: #ffdd00;
            text-transform: uppercase;
        }

        ul li a {
            position: absolute;
            bottom: 5px;
            right: 5px;
            background: #fff;
            width: 100px;
            text-align: center;
            color: #000;
            font-weight: bold;
            border-radius: 5px;
        }

            ul li a:hover {
                transition: .25s;
                transform: translate3d(5px,-5px,0);
                box-shadow: -5px 5px 0 0 #444;
            }

.form {
    width: 60%;
    max-width: 500px;
    margin: 0 auto;
    background: rgba(20,20,20,.9);
    color: #fff;
    border-radius: 15px;
}

.formTitle {
    border-radius: 10px 10px 50% 50%;
    text-align: center;
    letter-spacing: 1px;
    padding: 15px 0;
    background: #0094ff;
}

form .divInputs {
    width: 75%;
    margin: 10px auto;
    height: 40px;
    text-align: justify;
    position: relative;
}

    form .divInputs p {
        bottom: 5%;
        position: absolute;
        pointer-events: none;
    }

    form div input{
        position: absolute;
        bottom: 0;
        color: #fff;
        border: none;
        border-bottom: 2px solid #fff;
        background: transparent;
        width: 100%;
    }

    form .divSelect {
        width: 75%;
        margin: 10px auto;
        height: 30px;
        position: relative;
        display: flex;
        align-items: center;
        box-shadow: inset 0 -2px 0 0 #fff;
    }

        form .divSelect  p {
            width: 25%;
            text-align: center;
        }

        form div select {
            width: 75%;
            background: transparent;
            color: #fff;
            border: none;
            border-top: 1px solid #fff;
            border-left: 2px solid #fff;
            padding: 2px;
        }

        form div select option {
            color: #000;
        }

    form .divInputs input:focus ~ p,
    form .divInputs input:valid ~ p {
        transition: .5s;
        color: #0094ff;
        bottom: 50%;
        font-size: 12px;
    }

    form .divInputs input:focus,
    form .divInputs input:valid {
        border-color: #0094ff;
    }




form #btnLogin {
    width: 80%;
    padding: 2.5px;
    border: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    background: linear-gradient(90deg,#0094ff,purple);
    color: #fff;
    margin: 10px 10%;
    
}

form #btnLogin:hover {
    transition: .5s;
    transform: scale(1.1);
}

form #btnLogin:focus {
    transform: scale(1);
    opacity: .5;
}

#txtMenssagem {
    margin: 5px auto;
    color: #b6ff00;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}
